<div class="nav">
    <h1 class="brand">Hi, <span class="capitalize">{{name}}</span></h1>
    <h1 class="brand margin-left"><span class="capitalize">{{role}}</span></h1>   
</div>
<div class="main">
    <div class="side-nav">
        <button (click)="bookingstatus(ViewBooking)" [class.active]="viewBookingOn">VIEW BOOKINGS</button>
        <button (click)="bookingstatus(ChangeStatus)" [class.active]="changeStatus">CHANGE STATUS</button>
        <button (click)="bookingstatus(SearchForm)" [class.active]="searchForm">SEARCH</button>
        <button (click)="bookingstatus(ViewTechnicians)" [class.active]="viewTechnicians">VEW TECHNICIAN</button>
        <button (click)="bookingstatus(AssignJob)" [class.active]="assignJob">ASSIGN JOB</button>
        <button class="log-out" (click)="logout()">LOGOUT</button>
    </div>
    <div class="content" *ngIf="viewBookingOn">
        <br><br><br><br><br><br><br>  
        <app-executiveviewbooking></app-executiveviewbooking>
    </div>
    <div class="content" *ngIf="changeStatus">
        <app-executivechangestatus></app-executivechangestatus>
    </div>
    <div class="content" *ngIf="searchForm">
        <app-executivesearch></app-executivesearch>
    </div>
    <div class="content" *ngIf="viewTechnicians">
        <app-executiveviewtechnicians></app-executiveviewtechnicians>
    </div>
    <div class="content" *ngIf="assignJob">
        <app-executivejobassign></app-executivejobassign>
    </div>
</div>