<div class="nav">
    <h1 class="brand">Hi, <span class="capitalize">{{name}}</span></h1>
    <h1 class="brand margin-left"><span class="capitalize">{{role}}</span></h1>

</div>
<div class="main">
    <div class="side-nav">
        <button (click)="customerdetails()">Book Service</button>
        <button (click)="bookingdetails()">Booking details</button>
        <button class="log-out" (click)="logout()">Logout</button>
    </div>
    <div class="content" *ngIf="custumerOns">
        <app-customerhome></app-customerhome>
    </div>
    <div class="content" *ngIf="bookingFormsOns">
        <app-customerviewbooking></app-customerviewbooking>
    </div>
</div>