.form-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  /* Add some padding to the table */
table {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
  }
  /* Style the table header */
  thead {
    background-color: #f0f0f0;
  }
  thead th {
    padding: 10px;
    font-weight: bold;
    text-align: left;
  }
  /* Alternate row background color for better readability */
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  /* Style the table cells */
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  /* Highlight the table cells on hover */
  tbody tr:hover {
    background-color: #eaf5ff;
  }
  /* Add some spacing between the table cells */
  td {
    padding: 10px;
  }
  .nav {
    width: 100vw;
    height: 15vh;
    background-color: rgb(79, 144, 105);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding:0 3% 0 3%; */
    /* padding-right: 3%; */
}

.log-out {
    background-color: white;
    color: black;
    margin-right: 3%;
    width: 5.5rem;
    height: 2rem;
    background-color: white;
    border-radius: .8rem;
    transition: all .5s ease-in-out;
    font-weight: 600;

    /* width: 2em; */
}

.log-out:hover {
    width: 6rem;
    height: 2.5rem;
    font-weight: 800;
    font-size: 1rem;
    cursor: pointer;
}

.nav>h1,
h3 {
    color: white;
    margin-left: 3%;
    /* background-color: red; */
}

.brand {
    font-size: 2em;

}

.side-nav {
    width: 20vw;
    height: 83vh;
    background-color: rgb(112, 187, 127);
    border-top: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.side-nav>button {
    width: 60%;
    height: 10%;
    border-radius: .7rem;
    font-weight: 700;
    font-size: 1.4rem;
    transition: all .4s ease;

}

.side-nav>button.active {
    background-color: black;
    color: white;
}

.side-nav>button:hover {
    width: 65%;
    height: 11%;

}

.main {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: end
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    /* background-color: brown; */
}