/* 
table {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
  }

  thead {
    background-color: #f0f0f0;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  tbody tr:hover {
    background-color: #eaf5ff;
  }

  td {
    padding: 10px;
  } */

.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #010b15;
}

/* Stripe rows with alternating colors */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Style pagination controls */
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/* Customize pagination styles */
.pagination {
  display: inline-flex;
  padding-left: 0;
  margin-top: 0;
  border-radius: 0.25rem;
}

.page-item {
  display: inline;
  padding: 0.25rem 0.5rem;
  border: 1px solid #032343;
}

.page-link {
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  color: #0056b3;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Customize table header */
.table th {
  background-color: #0d65bd;
  border-bottom: 2px solid #dee2e6;
}